@import "large.css";
@import "small.css";

@font-face {
    font-family: "IRANSansX";
    font-display: swap;
    src: url("../fonts/IRANSansX-Regular.woff2") format("woff2"),
    url("../fonts/IRANSansX-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSansX-Bold";
    font-display: swap;
    src: url("../fonts/IRANSansX-Bold.woff2") format("woff2"),
    url("../fonts/IRANSansX-Bold.ttf") format("truetype");
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    direction: rtl;
    margin: unset !important;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
}

.main-box {
    border: 1px solid  #D8D8D8;
}

.footer {
    display: flex;
    flex-direction: row;
}


.footer p{
    margin: unset !important;
}


.automated-message {
    font-family: IRANSansX;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    color: #757575;
}

.hasma-description{

    font-family: IRANSansX;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    color: #0097FB;

}

.hasma-description span{

    font-family: IRANSansX-Bold;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    text-align: right;

    color: #0097FB;
}

.hamsaa-icon-wrapper{
    display: flex;
    width: 100%;
    padding-bottom: 16px;
}

.hamsaa-intro{
    padding-bottom: 16px;
}

.hamsaa-intro *{
    margin: unset !important;
}

.hamsaa-intro h1 {
    font-family: IRANSansX-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: right;
    color: #505050;

}

.hamsaa-intro p {
    font-family: IRANSansX;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
    color: #505050;
}

.cred-info{
    padding-top: 24px;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.button-container button {
    display: flex;
    width: 296px;
    height: 40px;
    background: #0097FB;
    border: unset!important;
    border-radius: 4px;
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: IRANSansX;
    font-size: 16px;
    font-weight: 700;
    line-height: 27.52px;
    text-align: center;
    cursor: pointer;

}
